extends ../layout

block css
  +usercss

block content
  +topnav
  #user_banner
    .pic
      a(href='javascript:;')
        img(src='/main/images/user_head_pic.jpg')
    .con
      h2 #{name}
  #quick_nav
    a.tip-daishenhe(href='javascript:;')
      span.ico1
        img(src='/main/images/nav_ico1.png')
      | 待审核房源
    a.tip-shenhe(href='javascript:;')
      span.ico2
        img(src='/main/images/nav_ico1.png')
      | 已审核房源
  .cw1000
    .public_box.pd30#usercon-box
    
    .clear

block js
  script(type='text/javascript', src='/main/js/admin.js')
