extends layout

block content
  +topnav
  +searchnav
  
  #h_scenic
    .cw1200
      .index_sec_title
        h1 最新放租和出售
      .con
        .tag
          img.index_leftlogo(src='/main/img/index_leftlogo.png')
        .box
          ul
            each zuHouseitem in zuHouseList
              li
                a(title='', href='/housedetail/' + zuHouseitem.id)
                  img.scale-effect(alt='', src= zuHouseitem.url)
            .clear
          .more
            a(href='/list')
              | 更多放租
              span +
        .box
          ul
            each shouHouseitem in shouHouseList
              li
                a(title='', href='/housedetail/' + shouHouseitem.id)
                  img.scale-effect(alt='', src= shouHouseitem.url)
            .clear
          .more
            a(title='', href='')
              | 更多出售
              span +
        .clear
