html
  head
    title 首页
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel="icon" href="/main/img/logo.png" type="image/x-icon")
    link(rel='stylesheet', type='text/css', href='/public/css/public.css')
    link(rel='stylesheet', type='text/css', href='/public/css/sweet-alert.css')
    link(rel='stylesheet', type='text/css', href='/main/css/amazeui.css')
    link(rel='stylesheet', type='text/css', href='/main/css/style.css')
  body
    mixin topnav
      #toolbar
        .cw1200
          ul.fl
            li.tb
              p 您好，欢迎房屋交易网！
            li.tb
              a(href='login.html') 登录
              span |
            li.tb
              a(href='register.html') 注册
          ul.fr
            li.tb
              .user
                a.user-hd(href='#')
                  img(src='/main/images/user_head_pic.jpg')
                  b
                  .clear
                .user-bd
                  ul.nav_sort
                    li
                      a(href='my_index.html')
                        i.i1
                        | 我的主页
                    li
                      a(href='write_note.html')
                        i.i2
                        | 写游记
                    li
                      a(href='my_note.html')
                        i.i9
                        | 我的游记
                    li
                      a(href='collection_list.html')
                        i.i3
                        | 我的收藏
                    li
                      a(href='project_order.html')
                        i.i4
                        | 商品订单
                    li
                      a(href='scenic_order.html')
                        i.i5
                        | 旅游订单
                    li
                      a(href='note_comments.html')
                        i.i6
                        | 我的评论
                    li
                      a(href='my_info.html')
                        i.i7
                        | 设置
                    li
                      a(href='#')
                        i.i8
                        | 退出
              span |
            li.tb
              a(href='shop_car.html')
                i.cart_ico
                | 购物车
              span |
            li.tb
              a(href='news_list.html') 用户帮助中心
          .clear
    mixin searchnav
      #header
        .cw1200
          .logo.fl
            a(title='', href='index.html')
              img(alt='', src='/main/img/logo.png')
          .search_nav.fl
            .search.radius6
              form(name='searchform', method='post', action='')
                input(name='ecmsfrom', type='hidden', value='9')
                input(type='hidden', name='show', value='title,newstext')
                select#choose(name='classid')
                  option(value='0') 条件1
                  option(value='1') 条件2
                  option(value='2') 条件3
                  option(value='3') 条件4
                input.inp_srh(name='keyboard', placeholder='请输入您要搜索的关键词')
                input.btn_srh(type='submit', name='submit', value='搜索')
          .clear
    block content
  script(type='text/javascript', src='/main/js/jquery-1.8.3.min.js')
  script(type='text/javascript', src='/main/js/amazeui.js')
  script(type='text/javascript', src='/main/js/jquery.select.js')
  script(type='text/javascript', src='/public/js/public.js')
  script(type='text/javascript', src='/public/js/sweet-alert.min.js')
