html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(rel="icon" href="/main/img/logo.png" type="image/x-icon")
    link(rel='stylesheet', type='text/css', href='/public/css/public.css')
    link(rel='stylesheet', type='text/css', href='/main/css/amazeui.css')
    link(rel='stylesheet', type='text/css', href='/main/css/style.css')
    mixin usercss
      link(rel='stylesheet', type='text/css', href='/main/css/user.css')
    link(rel='stylesheet', type='text/css', href='/public/css/sweet-alert.css')
    block css
    
    script(type='text/javascript', src='/main/js/jquery-1.8.3.min.js')
  body
    mixin topnav
      #toolbar
        .cw1200
          ul.fl
            li.tb
              p 这里是房屋交易网！
            - if (!name)
              li.tb
                a(href='/login') 登录
                span |
              li.tb
                a(href='/reg') 注册
            - else
              li.tb
                a(href='javascript:;') 欢迎您，#{name}！
          ul.fr
            li.tb
              a(href='/')
                i.cart_ico
                | 首页
              - if (uid.length != 0)
                span |
            - if (usertype == 'admin')
              li.tb
                a(href='/admin/managehouse')
                  i.cart_ico
                  | 管理房源
                span |
            - if (usertype == 'user')
              li.tb
                a(href='/user/myhouse')
                  i.cart_ico
                  | 我的房源信息
                span |
            - if (usertype == 'youke')
              li.tb
                a(href='/visitor/myhouse')
                  i.cart_ico
                  | 我租赁或购买的房源
                span |
            - if (uid.length != 0)
              li.tb
                a(href='/logout') 退出登录
          .clear
    mixin searchnav
      #header
        .cw1200
          .logo.fl(style='margin-left: 480px;')
            a(title='', href='index.html')
              img(alt='', src='/main/img/logo.png')
          .clear
    block content
  script(type='text/javascript', src='/main/js/amazeui.js')
  script(type='text/javascript', src='/main/js/jquery.select.js')
  script(src='/public/layer/layer.js')
  script(type='text/javascript', src='/public/js/public.js')
  script(type='text/javascript', src='/public/js/sweet-alert.min.js')
  script(type='text/javascript', src='/main/js/pub.js')
  block js
