extends layout

block content
  +topnav
  
  #select-condition
    .select-condition-bg
      .logo.fl
        a(title='', href='/')
          img(alt='', src='/main/img/logo.png')
      .condition-con
        select.condition-sel
          option 1
        select.condition-sel
          option 1
        select.condition-sel
          option 1
        select.condition-sel
          option 1
        select.condition-sel
          option 1
        select.condition-sel
          option 1
        button.mqy-btn(style='margin-left: 20px;') 检索
      .clear
      
  #sub_from
    .cw1200
      .w810.fl
        .public_box.bg1
          .public_title
            .fl
              img(src='/main/images/from_title_left.png')
            .con
              .name 结果
            .fr
              img(src='/main/images/from_title_right.png')
            .clear
          #scenic_list
            ul
              li
                .pic
                  a(href='/detail')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 龙潭大峡谷
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/scenic_ico.png')
                  | 查看详情
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 孟津绮梦红提生态园
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/leisure_ico.png')
                  | 休闲
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 龙潭大峡谷
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/scenic_ico.png')
                  | 景区
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 孟津绮梦红提生态园
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/leisure_ico.png')
                  | 休闲
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 龙潭大峡谷
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/scenic_ico.png')
                  | 景区
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 孟津绮梦红提生态园
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/leisure_ico.png')
                  | 休闲
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 龙潭大峡谷
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/scenic_ico.png')
                  | 景区
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 孟津绮梦红提生态园
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/leisure_ico.png')
                  | 休闲
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 龙潭大峡谷
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/scenic_ico.png')
                  | 景区
                .clear
              li
                .pic
                  a(href='scenic.html')
                    img.scale-effect(src='/main/images/y1.jpg')
                .con
                  h3
                    a(href='scenic.html') 孟津绮梦红提生态园
                  p
                    | 首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期，又是黔阳本地才子佳人聚集之地据说此处是唐朝诗人王昌龄游玩会客之所。据说此处是唐朝诗人王昌龄游玩会客之所。
                .tip
                  img(src='/main/images/leisure_ico.png')
                  | 休闲
                .clear
      .w380.fr
        .public_box.bg2
          #mobile_platform
            img(src='/main/img/index_leftlogo.png')
      .clear
