.note_list
  ul
    li.pd_r150
      .pic
        img(src='/main/images/y1.jpg')
      .con
        a(href='#')
          h3 我的2016# 萌哥带我走天崖之爱了爱普吉
        .user
          span
            img(src='/main/images/user_head_pic.jpg')
            | 作者：
            font 木子
          label
            img(src='/main/images/state_icon1.png')
            | 18
          label
            img(src='/main/images/state_icon2.png')
            | 20
        p
          | 从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十
      .operation
        a(href='#')
          i.edit_ico
          | 修改
        a(href='#')
          i.del_ico
          | 删除
    li.pd_r150
      .pic
        img(src='/main/images/y1.jpg')
      .con
        a(href='#')
          h3 我的2016# 萌哥带我走天崖之爱了爱普吉
        .user
          span
            img(src='/main/images/user_head_pic.jpg')
            | 作者：
            font 木子
          label
            img(src='/main/images/state_icon1.png')
            | 18
          label
            img(src='/main/images/state_icon2.png')
            | 20
        p
          | 从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十
      .operation
        a(href='#')
          i.edit_ico
          | 修改
        a(href='#')
          i.del_ico
          | 删除
    li.pd_r150
      .pic
        img(src='/main/images/y1.jpg')
      .con
        a(href='#')
          h3 我的2016# 萌哥带我走天崖之爱了爱普吉
        .user
          span
            img(src='/main/images/user_head_pic.jpg')
            | 作者：
            font 木子
          label
            img(src='/main/images/state_icon1.png')
            | 18
          label
            img(src='/main/images/state_icon2.png')
            | 20
        p
          | 从和我哥第一次的旅行开始 他就一直想带我去他心心念念的 普｜吉｜岛 然后还有他最爱的普吉上的 皇｜帝｜岛 我们提前半年订的机票 机票订的很冲动 !!!!就是某天看到了亚航大促的推送 时间订在9月29—10月9号 跨过十
      .operation
        a(href='#')
          i.edit_ico
          | 修改
        a(href='#')
          i.del_ico
          | 删除
